
.sizeA {
    display:flex;
    justify-content:space-around;
    padding: 10px 50px;
    background-color: rgba(2, 68, 94, 0.8)!important;
    align-items:left;
    color: rgb(10, 10, 10);
    line-height: 40px;
    height: 650px;
   
    align-items:bottom;
    padding: 1rem;
    z-index: 10;
    background: url('../assets/twint.png')  no-repeat right;
    

    
    
    
}

.redA{
    color:rgb(253, 11, 11);
    font-size: 350%;
font-display:calc(10);

}

