/* 
.header {
    position: fixed;
    width: 100%;
    height: 90px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    z-index: 10;
}*\

.navbar {
    background-color: rgba(245, 49, 98, 0.85);
    transition: .5s;
    background: url('../assets/logos.png') no-repeat left ;
}

/* .nav-menu {
    display: flex;
}


.nav-menu li {
    padding: 0 1rem;
}

.languages{
    position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	background: #fff;
	
	max-height: 0;
	transition: all .3s ease;
}

.nav-menu a {
    font-size: 1.2rem;
    font-weight: 500;
}

.hamburger {
    display: none;
}

@media screen and (max-width:1240px) {
    .hamburger {
        display: block;
    }

    .nav-menu {
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -100%;
        text-align: center;
        width: 100%;
        height: 100vh;
        transition: 0.3s;
        z-index: -1;
        background: rgba(0,0,0, .9);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-menu li {
        padding: 1rem 0;
    }

    .nav-menu a {
        font-size: 2rem;
    }

    
}






 */ 
 .navbar-brand {
    display: flex;
    width: 300px;
    height: 100px;
}
.navbar-brand img{
    width: 300px !important;;
    height: 210px !important;;
    padding-bottom:4rem;
    margin-top: -25px!important;
    margin-bottom:5px!important ;
}


.nav-link{
    color: aliceblue !important ;
    font-size: small;
}

li{
    text-decoration: none !important;
    border-bottom: #b5b6b7;
    border:0.2px;
    text-align: center;
    padding: 2px;
    
} 
a{
    text-decoration: none !important;
}

.nav-items{
        text-decoration: none;
}
.nav-link:link { text-decoration: none !important; }
.dropdown-menu{
    
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #b5b6b7;
    text-align: left;
    list-style: none;
    background-color: #111213;
    background-clip: padding-box;
    border: 1px solid rgb(0 0 0 / 8%);
    border-radius: 0.25rem;
}


.nav-link:hover{    
transition: 300ms;
font-size: large;
}

.dropdown-item{
    color: black !important;
}
.navbar-nav{
    align-items: right !important;
}
.collapse navbar-collapse{
    float: right;
}

.navbar-toggler{
    color: aliceblue !important;
}

.navbar-toggler-icon{
    color: aliceblue !important;
}

.container-fluid{
    background-color: transparent;
    
}

.langlink:hover{
    font-size: large;
    transition: 300ms;


}